# Base requirements for all testing-tools images
# Beautiful Soup pulls data out of HTML.
beautifulsoup4==4.14.2
requests==2.32.5

# Packages that were previously installed as system packages
certifi==2025.11.12
idna==3.11
semver==3.0.4
toml==0.10.2
urllib3==2.5.0
