# Beautiful Soup pulls data out of HTML.
beautifulsoup4==4.12.3
requests==2.31.0
charset-normalizer==3.1.0 #
hive-metastore-client==1.0.9
kafka-python3==3.0.0
nipyapi==0.19.1
pandas==1.5.3
trino==0.322.0
# gssapi/kerberos/pure-sasl are needed for using the python metastore client with kerberos.
gssapi==1.8.3
kerberos==1.3.1
pure-sasl==0.6.2
pytest==8.0.1 # Needed to execute Python unit-tests
#thrift==0.13.0 # Installed as deb package because it fails to build from source with pip. Needs to match the version from hive-metastore-client
