---
name: Publish 0.0.0-dev images
on:
  push:
    branches:
      - main
      - '*'

jobs:
  development:
    name: ${{ matrix.product }} 0.0.0-dev
    permissions:
      id-token: write
    runs-on: ${{ matrix.runner }}
    strategy:
      # fail-fast: true
      # This setting can be changed to throttle the build load
      # max-parallel: 1
      matrix:
        product:
          - airflow
          - druid
          - hadoop
          - hbase
          - hive
          - kafka
          - krb5
          - nifi
          - opa
          - spark-k8s
          - superset
          - testing-tools
          - trino
          - tools
          - zookeeper
        shard_count:
          - 5
        shard_index: [0, 1, 2, 3, 4] # between 0 and shard_count-1
        runner: [stackable-arm64, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # tag=v3
        # Qemu will not be needed anymore after we switch to self hosted ARM
      - name: Set up QEMU for multiarch builds
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # tag=v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # tag=v2
      - name: Install python 3
        run: sudo apt-get install --yes python3
      - name: Install image-tools-stackabletech
        run: pip install image-tools-stackabletech==0.0.5
      - name: Login to Stackable Nexus
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # tag=v3
        with:
          registry: docker.stackable.tech
          username: github
          password: ${{ secrets.NEXUS_PASSWORD }}
      - name: Publish dev images
        id: publish_images
        run: |
          # bake images and load them to local docker repo for signing
          # TODO: buildx cannot --load and --push at the same time
          bake --product "${{ matrix.product }}" \
          --organization "stackable-experimental-${{ matrix.runner }}" \
          --image-version 0.0.0-dev \
          --shard-count "${{matrix.shard_count}}" \
          --shard-index "${{matrix.shard_index}}" \
          --export-tags-file bake-target-tags
          # push images to image repository
          if [ -f bake-target-tags ]; then
            docker image push "$(< bake-target-tags)"
          fi
      - name: Set up Cosign
        uses: sigstore/cosign-installer@v3.1.2
      - name: Sign images
        run: |
          if [ -f bake-target-tags ]; then
            cosign sign -y "$(< bake-target-tags)"
          fi
  preflight:
    name: ${{ matrix.product }} OpenShift checks
    # Run preflight check but do not submit anything to the RH certification portal.
    # This job only runs if the "development" job was successful
    # See: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idneeds
    needs: development
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: true
      # This setting can be changed to throttle the build load
      # max-parallel: 1
      matrix:
        product:
          - airflow
          - druid
          - hadoop
          - hbase
          - hive
          - kafka
          - nifi
          - opa
          - spark-k8s
          - superset
          - trino
          - tools
          - zookeeper
        runner: [stackable-arm64, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # tag=v3
      - name: Install python 3
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # tag=v4
        with:
          python-version: '3.x'
      - run: pip install image-tools-stackabletech
      - name: Install preflight
        run: |
          wget https://github.com/redhat-openshift-ecosystem/openshift-preflight/releases/download/1.6.11/preflight-linux-amd64
          chmod +x preflight-linux-amd64
      - name: OpenShift certification checks
        run: check-container --product "${{ matrix.product }}" --image-version 0.0.0-dev --executable ./preflight-linux-amd64
