---
name: Build development images (tagged with 0.0.0-dev) from main
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release product images for ${{ matrix.product }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      # This setting can be changed to throttle the build load
      # max-parallel: 1
      # If we want more parallelism we can schedule a dedicated task for every tuple (product, product version)
      matrix:
        product:
          - airflow
          - druid
          - hadoop
          - hbase
          - hive
          - kafka
          - nifi
          - opa
          - pyspark-k8s
          - spark-k8s
          - superset
          - trino
          - zookeeper
    env:
      GITHUB_REF: ${{ github.ref }}
      GITHUB_REF_NAME: ${{ github.ref_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Set up QEMU for multiarch builds
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # tag=v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2
      - name: Install python 3
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # tag=v4
        with:
          python-version: '3.x'
      - name: Login to Stackable Nexus
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # tag=v2
        with:
          registry: docker.stackable.tech
          username: github
          password: ${{ secrets.NEXUS_PASSWORD }}
      - name: Build and push images (single arch)
        run: python -m image_tools.bake --product "${{ matrix.product }}" --image-version 0.0.0-dev --organization stackable --architecture linux/amd64 --push
