---
name: Build (and optionally publish) 0.0.0-dev images
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build_and_push:
    name: ${{ matrix.product }} 0.0.0-dev ${{ matrix.runner }}
    permissions:
      id-token: write
    runs-on: ${{ matrix.runner }}
    strategy:
      # There is value to see which builds are working and which are actually broken
      # The images will be pushed, but the (effective) manifest-list is only updated when *all* builds succeed.
      fail-fast: false
      # This setting can be changed to throttle the build load
      # max-parallel: 1
      matrix:
        runner: ["ubuntu-latest", "buildjet-4vcpu-ubuntu-2204-arm"]
        product:
          - airflow
          - druid
          - hadoop
          - hbase
          - hive
          - kafka
          - kafka-testing-tools
          - krb5
          - nifi
          - opa
          - spark-k8s
          - superset
          - testing-tools
          - trino
          - trino-cli
          - tools
          - zookeeper
        shard_count:
          - 5
        shard_index: [0, 1, 2, 3, 4] # between 0 and shard_count-1
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
      # As of 2024-04-08 this throws
      # Error: The version '3.x' with architecture 'arm64' was not found for Ubuntu 22.04.
      # This is because it currently only bundles arm64 packages for darwin.
      # So instead we install python via apt until this is resolved
      # - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # tag=v5.0.0
      #   with:
      #     python-version: '3.x'
      - name: Setup python
        run: |
          sudo apt update
          sudo apt install --assume-yes python3
      - name: Set up Cosign
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 # tag=v3.5.0
      - name: Set up syft
        uses: anchore/sbom-action/download-syft@7ccf588e3cf3cc2611714c2eeae48550fbc17552 # tag=v0.15.11
      - name: Install image-tools-stackabletech
        run: pip install image-tools-stackabletech==0.0.5
      - uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # tag=v3.1.0
        with:
          registry: docker.stackable.tech
          username: github
          password: ${{ secrets.NEXUS_PASSWORD }}
      - name: Login to Stackable Harbor
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # tag=v3.1.0
        with:
          registry: oci.stackable.tech
          username: robot$sdp+github-action-build
          password: ${{ secrets.HARBOR_ROBOT_SDP_GITHUB_ACTION_BUILD_SECRET }}
      - name: Publish dev images
        id: publish_images
        run: |
          # Bake images and load them to local docker repo for signing
          # TODO: buildx cannot --load and --push at the same time
          # Tagging images with the architecture they were build on
          ARCH_FOR_DOCKER="$(arch | sed -e 's#x86_64#amd64#' | sed -e 's#aarch64#arm64#')"
          bake --product "${{ matrix.product }}" \
          --image-version "0.0.0-dev-${ARCH_FOR_DOCKER}" \
          --architecture "linux/${ARCH_FOR_DOCKER}" \
          --shard-count "${{matrix.shard_count}}" \
          --shard-index "${{matrix.shard_index}}" \
          --export-tags-file bake-target-tags

          # Conditionally push images if not triggered by workflow_dispatch
          if [ "${{ github.event_name }}" != "workflow_dispatch" ]; then
            # Push images to image repository
            if [ -f bake-target-tags ]; then
              echo "bake-target-tags: "$(< bake-target-tags)
              IMAGE_NAME=$(cat bake-target-tags | cut -d ":" -f 1)
              TAG_NAME=$(cat bake-target-tags | cut -d ":" -f 2)
              echo "image: $IMAGE_NAME"
              echo "tag: $TAG_NAME"
              # Store the output of `docker image push` into a variable, so we can parse it for the digest
              PUSH_OUTPUT=$(docker image push "$(< bake-target-tags)" 2>&1)
              echo "$PUSH_OUTPUT"
              # Obtain the digest of the pushed image from the output of `docker image push`, because signing by tag is deprecated and will be removed from cosign in the future
              DIGEST=$(echo "$PUSH_OUTPUT" | awk "/: digest: sha256:[a-f0-9]{64} size: [0-9]+$/ { print \$3 }")
              # Refer to image via its digest (docker.stackable.tech/stackable/airflow@sha256:0a1b2c...)
              # This generates a signature and publishes it to the registry, next to the image
              # Uses the keyless signing flow with Github Actions as identity provider
              cosign sign -y "$IMAGE_NAME@$DIGEST"

              # Generate SBOM for the image
              syft scan --output cyclonedx-json=sbom.json --select-catalogers "-cargo-auditable-binary-cataloger" --scope all-layers --source-name "${{ matrix.product }}" --source-version "$TAG_NAME" "$IMAGE_NAME@$DIGEST";
              # Determine the PURL for the image
              PURL="pkg:docker/stackable/${{ matrix.product }}@$DIGEST?repository_url=docker.stackable.tech";
              # Get metadata from the image
              IMAGE_METADATA_DESCRIPTION=$(docker inspect --format='{{.Config.Labels.description}}' "$IMAGE_NAME@$DIGEST");
              IMAGE_METADATA_NAME=$(docker inspect --format='{{.Config.Labels.name}}' "$IMAGE_NAME@$DIGEST");
              # Merge the SBOM with the metadata for the image
              jq -s '{"metadata":{"component":{"description":"'"$IMAGE_METADATA_NAME. $IMAGE_METADATA_DESCRIPTION"'","supplier":{"name":"Stackable GmbH","url":["https://stackable.tech/"]},"author":"Stackable GmbH","purl":"'"$PURL"'","publisher":"Stackable GmbH"}}} * .[0]' sbom.json > sbom.merged.json;
              # Attest the SBOM to the image
              cosign attest -y --predicate sbom.merged.json --type cyclonedx "$IMAGE_NAME@$DIGEST"

              # Push to oci.stackable.tech as well
              IMAGE_NAME=oci.stackable.tech/sdp/${{ matrix.product }}
              echo "image: $IMAGE_NAME"
              docker tag "$(< bake-target-tags)" "$IMAGE_NAME:$TAG_NAME"
              # Store the output of `docker image push` into a variable, so we can parse it for the digest
              PUSH_OUTPUT=$(docker image push "$IMAGE_NAME:$TAG_NAME" 2>&1)
              echo "$PUSH_OUTPUT"
              # Obtain the digest of the pushed image from the output of `docker image push`, because signing by tag is deprecated and will be removed from cosign in the future
              DIGEST=$(echo "$PUSH_OUTPUT" | awk "/: digest: sha256:[a-f0-9]{64} size: [0-9]+$/ { print \$3 }")
              # Refer to image via its digest (oci.stackable.tech/sdp/airflow@sha256:0a1b2c...)
              # This generates a signature and publishes it to the registry, next to the image
              # Uses the keyless signing flow with Github Actions as identity provider
              cosign sign -y "$IMAGE_NAME@$DIGEST"

              # Generate SBOM for the image
              syft scan --output cyclonedx-json=sbom.json --select-catalogers "-cargo-auditable-binary-cataloger" --scope all-layers --source-name "${{ matrix.product }}" --source-version "$TAG_NAME" "$IMAGE_NAME@$DIGEST";
              # Determine the PURL for the image
              PURL="pkg:docker/sdp/${{ matrix.product }}@$DIGEST?repository_url=oci.stackable.tech";
              # Get metadata from the image
              IMAGE_METADATA_DESCRIPTION=$(docker inspect --format='{{.Config.Labels.description}}' "$IMAGE_NAME@$DIGEST");
              IMAGE_METADATA_NAME=$(docker inspect --format='{{.Config.Labels.name}}' "$IMAGE_NAME@$DIGEST");
              # Merge the SBOM with the metadata for the image
              jq -s '{"metadata":{"component":{"description":"'"$IMAGE_METADATA_NAME. $IMAGE_METADATA_DESCRIPTION"'","supplier":{"name":"Stackable GmbH","url":["https://stackable.tech/"]},"author":"Stackable GmbH","purl":"'"$PURL"'","publisher":"Stackable GmbH"}}} * .[0]' sbom.json > sbom.merged.json;
              # Attest the SBOM to the image
              cosign attest -y --predicate sbom.merged.json --type cyclonedx "$IMAGE_NAME@$DIGEST"
            fi
          fi
  create_manifests:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    needs: ["build_and_push"]
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # tag=v3.1.0
        with:
          registry: docker.stackable.tech
          username: github
          password: ${{ secrets.NEXUS_PASSWORD }}
      - name: Login to Stackable Harbor
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # tag=v3
        with:
          registry: oci.stackable.tech
          username: robot$sdp+github-action-build
          password: ${{ secrets.HARBOR_ROBOT_SDP_GITHUB_ACTION_BUILD_SECRET }}
      - name: Set up Cosign
        uses: sigstore/cosign-installer@9614fae9e5c5eddabb09f90a270fcb487c9f7149 # tag=v3.3.0
      - name: Build Manifest List
        shell: bash
        env:
          DOCKER_USER: github
          DOCKER_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          for product_and_version in $(python3 enumerate-product-versions.py); do
            PRODUCT="$(echo "$product_and_version" | cut -d '#' -f 1)"
            VERSION="$(echo "$product_and_version" | cut -d '#' -f 2)"

            echo "Generating manifest list for $PRODUCT in version $VERSION"

            MANIFEST_NAME="docker.stackable.tech/stackable/${PRODUCT}:${VERSION}-stackable0.0.0-dev"
            # Create and push to Stackable Nexus
            # `docker manifest push` directly returns the digest of the manifest list
            # As it is an experimental feature, this might change in the future
            # Further reading: https://docs.docker.com/reference/cli/docker/manifest/push/
            # --amend because the manifest list would be updated since we use the same tag: 0.0.0-dev
            docker manifest create "$MANIFEST_NAME" --amend "${MANIFEST_NAME}-amd64" --amend "${MANIFEST_NAME}-arm64"
            DIGEST=$(docker manifest push $MANIFEST_NAME)

            # Refer to image via its digest (oci.stackable.tech/sdp/airflow@sha256:0a1b2c...)
            # This generates a signature and publishes it to the registry, next to the image
            # Uses the keyless signing flow with Github Actions as identity provider
            cosign sign -y "$MANIFEST_NAME@$DIGEST"

            # Push to oci.stackable.tech as well
            MANIFEST_NAME="oci.stackable.tech/sdp/${PRODUCT}:${VERSION}-stackable0.0.0-dev"
            docker manifest create "$MANIFEST_NAME" --amend "${MANIFEST_NAME}-amd64" --amend "${MANIFEST_NAME}-arm64"
            DIGEST=$(docker manifest push $MANIFEST_NAME)
            cosign sign -y "$MANIFEST_NAME@$DIGEST"
          done
