name: Docker

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch:

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - shell: bash
        env:
          DOCKER_USER: github
          DOCKER_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: make build-ubi8-rust-builder
