name: Docker

on:
  push:
    branches:
      - main
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch:

jobs:
  build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # tag=v3
      - shell: bash
        env:
          DOCKER_USER: github
          DOCKER_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: make push-ubi8-rust-builder
