---
name: pre-commit

on:
  pull_request:

env:
  # Keep in sync with across other repos like operator-rs and operator-templating
  RUST_TOOLCHAIN_VERSION: "nightly-2025-10-23"
  HADOLINT_VERSION: "v2.14.0"
  PYTHON_VERSION: "3.14"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: stackabletech/actions/run-pre-commit@976e8c293cb59f391dbf8563ab28e965e79ca36d # v0.10.4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          rust: ${{ env.RUST_TOOLCHAIN_VERSION }}
          hadolint: ${{ env.HADOLINT_VERSION }}
