name: Product images

on:
  workflow_dispatch:
    inputs:
      product:
        description: 'Product image to build.'     
        required: true
        default: 'zookeeper'
      imageVersion:
        description: 'Image version'  
jobs:
  build:
    name: Build product images for ${{ github.event.inputs.image }}
    runs-on: ubuntu-latest
    steps:

      -
        name: Checkout
        uses: actions/checkout@v2

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      -
        name: Install python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      -
        name: Login to Stackable Nexus
        uses: docker/login-action@v1
        with:
          registry: docker.stackable.tech
          username: github
          password: ${{ secrets.NEXUS_PASSWORD }}

      -
        name: Build and push images
        shell: bash
        run: python build_product_images.py -p ${{ github.events.input.product }} -i ${{ github.events.input.imageVersion }}
