---
name: Product images

on:
  push:
    tags:
      - '*'

jobs:
  reject_illegal_tags:
    name: Check if tag adheres to format 'productx.y.z-stackablea.b.c'
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.version_tag.outputs.tag_name }}
    steps:
      - name: Get version tag
        id: version_tag
        run: |
          [[ ! "$GITHUB_REF" =~ refs/tags ]] && exit 255
          TAG=${GITHUB_REF#refs/tags/}
          echo "Found tag: [$TAG]"
          echo "::set-output name=tag_name::$TAG"
      - name: Check if tag matches expected format
        env:
          TAGNAME: ${{ steps.version_tag.outputs.tag_name }}
        run: |
          echo "Checking $TAGNAME"
          [[ "$TAGNAME" =~ ^kafka|zookeeper|nifi|druid|opa|hive|hbase|hadoop|trino|airflow|superset|spark-k8s|pyspark-k8s|tools|testing-tools|java-base|vector|stackable-base|.+-stackable\d+\.\d+\.\d+ ]] && echo "${TAGNAME}" valid || exit 255

  parse_tag:
    name: Extract product, version and imageversion from tag name
    runs-on: ubuntu-latest
    needs:
      - reject_illegal_tags
    env:
      TAGNAME: ${{ needs.reject_illegal_tags.outputs.tag_name }}
    outputs:
      product: ${{ steps.extractproduct.outputs.product }}
      version: ${{ steps.extractversion.outputs.version }}
      imageversion: ${{ steps.extractimageversion.outputs.imageversion }}
    steps:
      - id: debug
        run: echo "$TAGNAME"
      - id: extractproduct
        run: |
          PRODUCT=$(echo "$TAGNAME" | \
          sed -r "s/(kafka|zookeeper|nifi|druid|opa|hive|hbase|hadoop|trino|airflow|superset|spark-k8s|pyspark-k8s|tools|testing-tools|java-base|vector|stackable-base).*/\1/" \
          )
          echo "Extracted [\"$PRODUCT\"] as product"
          echo "::set-output name=product::$PRODUCT"
      - id: extractversion
        run: |
          VERSION=$(echo "$TAGNAME" | \
          sed -r "s/(kafka|zookeeper|nifi|druid|opa|hive|hbase|hadoop|trino|airflow|superset|spark-k8s|pyspark-k8s|tools|testing-tools|java-base|vector|stackable-base)//" | \
          sed -r "s/([^-]+)-.*/\1/" \
          )
          echo "Extracted [\"$VERSION\"] as version"
          echo "::set-output name=version::$VERSION"
      - id: extractimageversion
        run: |
          IMAGEVERSION=$(echo "$TAGNAME" | \
          sed -r "s/(kafka|zookeeper|nifi|druid|opa|hive|hbase|hadoop|trino|airflow|superset|spark-k8s|pyspark-k8s|tools|testing-tools|java-base|vector|stackable-base)//" | \
          sed -r "s/^[^-]+-stackable(.*)/\1/" \
          )
          echo "Extracted [\"$IMAGEVERSION\"] as imageversion"
          echo "::set-output name=imageversion::$IMAGEVERSION"

  build:
    name: Build product images for ${{ needs.reject_illegal_tags.outputs.tag_name }}
    runs-on: ubuntu-latest
    needs:
      - parse_tag
      - reject_illegal_tags
    env:
      PRODUCT: ${{ needs.parse_tag.outputs.product }}
      PRODUCTVERSION: ${{ needs.parse_tag.outputs.version }}
      IMAGEVERSION: ${{ needs.parse_tag.outputs.imageversion }}
    steps:

      -
        name: Checkout
        uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # tag=v3

      -
        name: Set up QEMU for multiarch builds
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # tag=v2

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 # tag=v2

      -
        name: Install python 3
        uses: actions/setup-python@13ae5bb136fac2878aff31522b9efb785519f984 # tag=v4
        with:
          python-version: '3.x'

      -
        name: Login to Stackable Nexus
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # tag=v2
        with:
          registry: docker.stackable.tech
          username: github
          password: ${{ secrets.NEXUS_PASSWORD }}

      -
        name: Build and push images (single arch)
        shell: bash
        run: python build_product_images.py -p "$PRODUCT" -v "$PRODUCTVERSION" -i "$IMAGEVERSION" -a linux/amd64 -u

      -
        name: Build and push images (multi arch)
        shell: bash
        run: python build_product_images.py -p "$PRODUCT" -v "$PRODUCTVERSION" -i "$IMAGEVERSION"  -o stackable-experimental -a linux/amd64 linux/arm64 -u
